# See http://aprs.org/aprs11/SSIDs.txt for SSID information

[global]
DEBUG = True
LOGFILE = /var/log/mqtt-aprs.log
MQTT_HOST = mqtt.example.com
MQTT_PORT = 1883
MQTT_TOPIC = owntracks/yourname/galaxys2
MQTT_USER = yourname
MQTT_PASS = secret
APRS_SERVER = rotate.aprs2.net
APRS_PORT = 14580
APRS_CALLSIGN = YOURCALLSIGN
APRS_SSID = STATION_SSID
APRS_PASS = YOURAPRS-ISPASS
APRS_SYMB = [
APRS_TABL = /
